_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
debug.log
__pycache__/
.DS_Store
.DS_Store
.Rhistory
images/.DS_Store
images/labfun/.DS_Store
images/funding/evansmds.pptx
images/funding/evansmds.pdf
images/labfun/.DS_Store
images/.DS_Store
.DS_Store
*.pptx
images/funding/syopasaatio.pdf
.DS_Store
images/.DS_Store
images/contacts/meilahti.pdf
images/contacts/meilahti.pptx
images/funding/aka.pdf
images/funding/aka.pptx
images/funding/fls.pdf
images/funding/fls.pptx
images/funding/gilead.pdf
images/funding/gilead.pptx
images/funding/gyllenberg.pptx
images/funding/KAlbinJohansson.pdf
images/funding/KAlbinJohansson.pptx
images/funding/minerva.pdf
images/funding/minerva.pptx
images/funding/paulo.pptx
images/funding/pfizer.pdf
images/funding/pfizer.pptx
images/funding/runar_backstrom.pptx
images/funding/syopasaatio.pdf
images/funding/syopasaatio.pptx
images/home/cells.pdf
images/home/cells.pptx
images/home/home.pptx
images/home/strategy.pdf
images/members/.DS_Store
.DS_Store
images/.DS_Store
images/contacts/meilahti.pdf
images/contacts/meilahti.pptx
images/funding/aka.pdf
images/funding/aka.pptx
images/funding/fls.pdf
images/funding/fls.pptx
images/funding/gilead.pdf
images/funding/gilead.pptx
images/funding/gyllenberg.pptx
images/funding/KAlbinJohansson.pdf
images/funding/KAlbinJohansson.pptx
images/funding/minerva.pdf
images/funding/minerva.pptx
images/funding/paulo.pptx
images/funding/pfizer.pdf
images/funding/pfizer.pptx
images/funding/runar_backstrom.pptx
images/funding/syopasaatio.pdf
images/funding/syopasaatio.pptx
images/home/cells.pdf
images/home/cells.pptx
images/home/home.pptx
images/home/strategy.pdf
images/members/.DS_Store
images/funding/ignore
