_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
debug.log
__pycache__/
.DS_Store
.DS_Store
.Rhistory
images/.DS_Store
images/labfun/.DS_Store
images/funding/evansmds.pptx
images/funding/evansmds.pdf
images/labfun/.DS_Store
images/.DS_Store
.DS_Store
