<div class="gallery">
  {% assign max = 0 %}
  {% for i in (1..100) %}
    {% assign image = "image" | append: i %}
    {% assign image = include[image] %}
    {% if image %}
      {% assign max = i %}
    {% endif %}
  {% endfor %}
  
  <div class="row">
    {% for i in (1..max) %}
      {% assign image = "image" | append: i %}
      {% assign image = include[image] %}
      {% assign tooltip = "tooltip" | append: i %}
      {% assign tooltip = include[tooltip] %}
      {% assign link = "link" | append: i %}
      {% assign link = include[link] %}
      {% if image %}
        <div class="column">
          <a href="{{ link }}" data-tooltip="{{ tooltip }}">
            <img src="{{ image }}" alt="Image {{ i }}">
          </a>
        </div>
        
        {% cycle '', '', '', '</div><div class="row">' %}
      {% endif %}
    {% endfor %}
  </div>
</div>
