---
layout: default
---

<h1>{{ page.title }}</h1>

<!-- {%- include figure.html image=page.image -%} -->
<!-- Responsive styling for images only in this file -->
<style>
  /* Default to 100% width for small screens */
  .responsive-member-image {
    width: 100%;
  }

  /* Apply 40% width on screens larger than 768px */
  @media (min-width: 768px) {
    .responsive-member-image {
      width: 40%;
    }
  }
</style>

{%- include figure.html image=page.image class="responsive-member-image" -%} <!-- Use the class for styling -->


<p class="center">
  {%- include role.html type=page.role text=true description=page.description -%}
</p>

<p class="center">
  {%- for entry in page.links -%}
    {%- assign key = entry[0] -%}
    {%- assign value = entry[1] -%}
    {%- include link.html type=key icon="" text="" tooltip="" link=value -%}
  {%- endfor -%}
</p>

{{ content }}

{%- assign aliases = "" | split: ',' -%}

{%- if page.aliases.first -%}
  {%- assign aliases = aliases | concat: page.aliases -%}
{%- elsif page.aliases -%}
  {%- assign aliases = aliases | push: page.aliases -%}
{%- elsif page.title -%}
  {%- assign aliases = aliases | push: page.title -%}
{%- endif -%}

{%- capture search -%}
  {%- for name in aliases -%}"{{ name }}" {%- endfor -%}
{%- endcapture -%}

{%- assign search = search | strip | prepend: "/research/?search=" -%}

{%- capture text -%}
  {{ page.title }}'s papers
{%- endcapture -%}


<p class="center">
  {%- include link.html icon="fas fa-book-open" text=text link=search style="button" -%}
</p>
